{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            This is <b>user registration and login system</b> build with django which is
            a Python-based free and open-source web framework that follows the model–template–views architectural pattern.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <form method = "post" enctype="multipart/form-data">

                    <ul>
                        {% for one_of_Uploade_used in Uploade_used %}
                            <li>
                                <p>descript: {{ one_of_Uploade_used.descript }}</p>
                                <p>password: {{ one_of_Uploade_used.password }}</p>
                                <img src="{{ one_of_Uploade_used.original_img.url }}" alt="" width="100px">
                            </li>
                        {% endfor %}
                    </ul>
                    {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit">Upload</button>
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}


