{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.username.title|default:'Guest'}}</h1>
        <p class="lead">
            This is <b>user registration and login system</b> build with django which is
            a Python-based free and open-source web framework that follows the model–template–views architectural pattern.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <form method = "post" enctype="multipart/form-data">

                    <tr>
                        {% for one_of_Uploade_used in Uploade_used %}
                            <td>
                                <p>user_id: {{ one_of_Uploade_used.user_id }}</p>
                                <p>descript: {{ one_of_Uploade_used.descript }}</p>
                                <p>date: {{ one_of_Uploade_used.date }}</p>
                                <!-- <img src="{{ one_of_Uploade_used.original_img.url }}" alt="" width="100px"> -->

                                <!-- if 按了之後要進行embedding 再download embedding後的圖片-->
                                <button type="button" class="download-button" data-url="{{ one_of_Uploade_used.original_img.url }}">下载图片</button>
                                <p>========================================</p>
                                
                                
                            </td>
                        {% endfor %}
                    </tr>
                    {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit">Upload</button>
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>



    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const downloadButtons = document.querySelectorAll(".download-button");
    
        downloadButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                const imageUrl = button.getAttribute("data-url");
                const a = document.createElement("a");
                a.href = imageUrl;
                a.download = "image.jpg"; // 设置下载的文件名
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            });
        });
    });
    </script>
{% endblock content %}




